/02-05-23.sql
/03-05-23.sql
/1-05-23.sql
/2-5-23-others.sql
/27-04-24--sql.sql
/28-04-23.sql
/4-05-23.sql
/assignment_project.sql
/connection.py
/createdb.py
/createtable.py
/fetchdata.py
/insertdata.py
/multipledata.py